.nftCard {
    width: 50%;
    max-width: 100px; /* Adjust width as needed */
    margin: 1rem; /* Margin for spacing */
    border: 1px solid #ddd; /* Optional border */
    border-radius: 8px; /* Rounded corners */
    overflow: hidden; /* Hide overflow */
    background-color: #fff; /* Background color */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional shadow for better visual effect */
}

.imageContainer {
    position: relative;
    width: 100%;
    height: 100px; /* Fixed height for images */
}

.nftImage {
    object-fit: cover; /* Ensure image covers container */
    width: 50%;
    height: 50%;
}

.details {
    padding: 1rem;
    background-color: #f9f9f9; /* Light background */
    border-top: 1px solid #ddd; /* Border between image and details */
}

.title {
    font-size: 1.25rem;
    font-weight: bold;
    color: #333;
}

.id, .contract, .description {
    color: #666;
}
