@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    margin: 0;
    padding: 0;
  }

  ::selection{
    background-color: #151623;
  }

  :root {
    --navigation-height: 4.8rem;
    --transition: all 0.3s linear;
  }

  html {
    @apply bg-background font-sans text-white;
    font-size: 62.5%;
  }

  article {
    transition: var(--transition);
    z-index: 1
  }

  article.activeSlide {
    opacity: 1;
    transform: translateX(0);
  }

  article.lastSlide {
    transform: translateX(-100%);

  }

  article.nextSlide {
    transform: translateX(100%);
  }
}

.wireframe-web3 {
  -webkit-text-stroke: 1px white;
}

@layer utilities {
  .text-shadow {
    text-shadow: rgba(0, 0, 0, .56) 0 3px 12px;
  }
}